@import "_include/vars"
@import "_include/mixins"

@import "_include/fonts"
@import "_include/libs"
@import "_include/reset"
@import "_include/common"



/* ------------------------------------- 
	Modules 
	------------------------------------- */
//@import "_modules/forms"


/* ------------------------------------- 
	Sections 
	------------------------------------- */
@import "_sections/header"
@import "_sections/footer"


/* ------------------------------------- 
	Main page 
	------------------------------------- */
@import "_sections-index/hero"
@import "_sections-index/steps"
@import "_sections-index/catalog"
@import "_sections-index/production"
@import "_sections-index/about"

/* ------------------------------------- 
	Page
	------------------------------------- */
@import "_sections-page/section"



